{% extends 'base.html' %}

{% block head %}
  <style>
    /*
      html {
        font-size: 22px;
        background-color: lightgray;
      }

      body {
        padding: 1em;
      }

     */

    footer {
      /*font-size: 80%;*/
      font-size: 0.8em;
      color: darkgray;
    }
  </style>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block title %}
  Index page
{% endblock %}

{% block body %}
  <div>
    <h1>Мир вокруг не так уж и прост: серия «Искажения» взрывает реальность.</h1>
    <p>
      Подростки видят мир иначе, чем дети или взрослые. Дети верят в волшебство, взрослые чересчур рациональны,
        а подростки во всем видят скрытый смысл, ищут подтексты и вскрывают реальность на каждом шагу.
        Для тех, кто готов раздвигать границы действительности, в издательстве «Пять четвертей» выходят книги
        в серии «Искажения». И каждая из них — это дверь в новый мир. Где-то он пугающий, где-то мистический,
        где-то антиутопический… Но каждый раз это вызов. Вопрос лишь в том, готов ли ты его принять.
    </p>
  </div>
{% endblock %}
