{% extends 'base.html' %}

{% block head %}
  <style>
    /*
      html {
        font-size: 22px;
        background-color: mintcream;
      }

      body {
        padding: 3em;
      }

     */

  </style>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block title %}
  About book
{% endblock %}

{% block body %}
  <div>
    <h1>Список книг, обязательных к прочтению.</h1>
    <p>
      При составлении списка редакция журнала Newsweek принимала во внимание влияние книг на ход истории,
      их интеллектуальный вклад в мировую культуру, актуальная значимость книги и ее популярность у
      современного читателя.
      Кроме этого, учитывались сведения предоставленные Modern Library, Нью-Йоркской публичной библиотекой,
      списка для чтения колледжа Сент-Джонс, свободной энциклопедии «Википедия», газетами The Guardian и
      The Telegraph и даже данные рейтинга от Опры Уинфри.</p>

    <h2>20 самых лучших книг обязательных к прочтению по версии Newsweek:</h2>
    <ul>
      <li>Лев Толстой - Война и мир</li>
      <li>Джордж Оруэлл - 1984</li>
      <li>Джеймс Джойс - Улисс</li>
      <li>Владимир Набоков - Лолита</li>
      <li>Уильям Фолкнер - Шум и ярость</li>
      <li>Ральф Эллисон - Невидимка</li>
      <li>Вирджиния Вульф - На маяк</li>
      <li>Гомер - Иллиада и Одиссея</li>
      <li>Джейн Остин - Гордость и предубеждение</li>
      <li>Данте Алигьери - Божественная комедия</li>
      <li>Джефри Чосер - Кентерберийские рассказы</li>
      <li>Джонатан Свифт - Путешествия Гулливера</li>
      <li>Джордж Эллиот - Миддлмарч</li>
      <li>Чинуа Ачебе - Распад</li>
      <li>Джером Сэлинджер - Над пропастью во ржи</li>
      <li>Маргарет Митчелл - Унесенные ветром</li>
      <li>Габриэль Маркес - Сто лет одиночества</li>
      <li>Скотт Фитцжеральд - Великий Гетсби</li>
      <li>Джозеф Хеллер - Уловка-22</li>
      <li>Тони Моррисон - Возлюбленная</li>
    </ul>

  </div>
{% endblock %}
