{% extends 'base.html' %}

{% block head %}
  <style>
    /*
      html {
        font-size: 22px;
        background-color: mintcream;
      }

      body {
        padding: 3 em;
      }

     */
  </style>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block title %}
  Index page
{% endblock %}

{% block body %}
  <div>
    <h1>Книги - наши лучшие друзья.</h1>
    <p>
      Чтение книг способствует расширению словарного запаса, повышению грамотности, а также развитию кругозора,
      фантазии, воображения. Также регулярное знакомство с литературой улучшает память и навыки восприятия текстовой
      информации, что очень помогает в учебе.
    </p>
    <p>
      Общественно-политический журнал Newsweek составил список самых лучших книг всех времен.
      Первым в почетном списке значится наш соотечественник, <strong>Лев Николаевич Толстой</strong> и его роман-эпопея
      «Война и Мир». Призовое серебро досталось британскому классику <strong>Джорджу Оруэллу</strong> за роман-антиутопия
      «1984», а на третьей позиции стоит культовый роман XX века «Улисс» <strong>Джеймса Джойса</strong>.
    </p>
    <p>
      Так же в пятерку лидеров книг обязательных к прочтению вошли <strong>Владимир Набоков</strong> со своей «Лолитой»
      и <strong>Уильям Фолкнер</strong> с литературным шедевром «Шум и ярость», на четвертой и пятой позиции соответственно.
      В первую десятку лучших вошли «Человек-невидимка» <strong>Ральфа Эллисона</strong> «На маяк» <strong>Вирджинии Вульф</strong>,
      «Илиада» и «Одиссея» <strong>Гомера</strong>, «Гордость и предубеждение» <strong>Джейн Остин,</strong> и «Божественная комедия»
      <strong>Данте Алигьери</strong>. Примечательно, что <strong>Библия</strong> заняла лишь 41 позицию в рейтинге.
    </p>
  </div>
{% endblock %}
