{% extends 'base.html' %}

{% block title %}
  Book list
{% endblock %}

{% block body %}

    <h1>List of books:</h1>
    <ul class="list-group">
      {% for book in books %}
        <li class="list-group-item">
          <a class="text-decoration-none"
             href="{{ url_for('books_app.details', book_id=book.id) }}">
            {{ book.name }}
          </a>
          {% if book.is_new %}
          <span class="badge bg-secondary">New</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>



{% endblock %}
